@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
}
div {
  padding: 0.5rem 0;
}

input {
  font-family: "Nunito", sans-serif;
  padding: 0.5rem;
  border-radius: 0.5rem 0;
}

.zodiac-meaning {
  color: purple;
}

.zodiac-signs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
